@font-face {
  font-family: 'GolosText';
  src: url("../fonts/GolosText-Regular.woff2") format('woff2'), url("../fonts/GolosText-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GolosText';
  src: url("../fonts/GolosText-Medium.woff2") format('woff2'), url("../fonts/GolosText-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GolosText';
  src: url("../fonts/GolosText-SemiBold.woff2") format('woff2'), url("../fonts/GolosText-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GolosText';
  src: url("../fonts/GolosText-Bold.woff2") format('woff2'), url("../fonts/GolosText-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Regular.woff2") format('woff2'), url("../fonts/Merriweather-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Bold.woff2") format('woff2'), url("../fonts/Merriweather-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: 'GolosText', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.title {
  font-family: 'Merriweather', Arial, sans-serif;
  font-weight: 400;
}
.container {
  padding: 0 20px;
}
.image {
  width: 100%;
  height: auto;
}
.section {
  display: block;
}
.section--intro {
  padding-top: 90px;
  padding-bottom: 77.6%;
  background-image: url("../img/main-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pl-item__photo {
  width: 244px;
  height: 244px;
  background-color: #f00;
  border-radius: 50%;
}
.footer {
  padding: 40px 0 60px;
  background-color: #e9ded4;
  color: #313131;
}
.marquee {
  position: relative;
  width: 100vw;
  height: 38px;
  max-width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  background-color: #f54932;
  overflow-x: hidden;
}
.marquee__wrapper {
  padding: 10px 0;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}
.marquee__item {
  position: relative;
  display: inline-block;
  padding-right: 30px;
}
.marquee__item::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
@-moz-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@-o-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-logo__img {
  font-size: 0;
  width: 80px;
  margin-right: 5px;
}
.header-logo__text {
  font-size: 14px;
  line-height: 108%;
  color: #595653;
  font-weight: 700;
  text-transform: uppercase;
}
.button {
  display: block;
  width: 100%;
  padding: 18px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
  text-decoration: none;
}
