footer.footer
    .containter
        .footer-note Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto rerum, tenetur numquam nam optio tempore blanditiis nihil magni libero iusto, maiores quas soluta delectus recusandae voluptatibus dolorem voluptas ab facilis.