*
	box-sizing border-box
	font-family $Golos

h1, h2, h3, h4, h5, h6
	padding 0
	margin 0
.title
	font-family $Merriweather
	font-weight 400

.container
	padding 0 20px

.image
	width 100%
	height auto

.section
	display block
	&--intro
		padding-top 90px
		padding-bottom 77.6%
		background-image url('../img/main-bg-mob.jpg')
		background-size cover
		background-repeat no-repeat
		background-position center