@font-face
	font-family 'Inter'
	src url('../fonts/Inter-Regular.woff2') format('woff2'),
		url('../fonts/Inter-Regular.woff') format('woff')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family 'Molot'
	src url('../fonts/Molot.woff2') format('woff2'),
		url('../fonts/Molot.woff') format('woff')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family 'Theater'
	src url('../fonts/Theater.woff2') format('woff2'),
		url('../fonts/Theater.woff') format('woff')
	font-weight normal
	font-style normal
	font-display swap
