.header
    position absolute
    top 0
    right 0
    left 0
    padding 20px 0
    z-index 1
.header-logo
    display flex
    align-items center
    justify-content flex-start
    &__img
        font-size 0
        width 80px
        margin-right 5px
    &__text
        font-size 14px
        line-height 108%
        color $gray
        font-weight 700
        text-transform uppercase